PORT=3000
TWILIO_ACCOUNT_SID=ACa923ed2212aadb17f571980c7bb41dbe
TWILIO_AUTH_TOKEN=f9fd340a84481521a1b7e6bf715f813c
WHATSAPP_PHONE_NUMBER=919370325802
WELCOME_MESSAGE=Hi! I need help from JanVaani

# Optional future upgrade for AI responses
OPENAI_API_KEY=AIzaSyDks_UoBW58aj_S7W9rseaOBZsZu-_0UyM
